@font-face {
  font-family: 'Cabin';
  font-weight: 400;
  src: url('~static/fonts/cabin/Cabin-Regular.ttf');
}
@font-face {
  font-family: 'Cabin';
  font-weight: 500;
  src: url('~static/fonts/cabin/Cabin-Medium.ttf');
}
@font-face {
  font-family: 'Cabin';
  font-weight: 600;
  src: url('~static/fonts/cabin/Cabin-SemiBold.ttf');
}
@font-face {
  font-family: 'Cabin';
  font-weight: 700;
  src: url('~static/fonts/cabin/Cabin-Bold.ttf');
}
