// Cabin
@font-face {
  font-family: 'Cabin';
  font-weight: 400;
  src: url('~static/fonts/cabin/cabin-regular.ttf');
}
@font-face {
  font-family: 'Cabin';
  font-weight: 500;
  src: url('~static/fonts/cabin/cabin-medium.ttf');
}
@font-face {
  font-family: 'Cabin';
  font-weight: 600;
  src: url('~static/fonts/cabin/cabin-semibold.ttf');
}
@font-face {
  font-family: 'Cabin';
  font-weight: 700;
  src: url('~static/fonts/cabin/cabin-bold.ttf');
}

// Neoneon
@font-face {
  font-family: 'Neoneon';
  font-weight: 500;
  src: url('~static/fonts/neoneon/neoneon.otf');
}

// Titilium
@font-face {
  font-family: 'Titillium';
  font-weight: 500;
  src: url('~static/fonts/titillium/titilliumweb-regular.ttf');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 600;
  src: url('~static/fonts/titillium/titilliumweb-semibold.ttf');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 700;
  src: url('~static/fonts/titillium/titilliumweb-bold.ttf');
}
@font-face {
  font-family: 'Titillium';
  font-weight: 800;
  src: url('~static/fonts/titillium/titilliumweb-black.ttf');
}

