.ant-input-affix-wrapper {
  &:hover,
  &:visited,
  &:active {
    .ant-input {
      color: @input-text-active;
    }
    ion-icon {
      color: @input-text-active;
    }
  }
  ion-icon {
    color: @input-text;
  }
  .ant-input {
    color: @input-text;
    background-color: @input-background;
    min-height: 56px;
    border-radius: 0;
    &:hover,
    &.selected {
      color: @input-text-active;
      border-color: @input-border-color-active;
    }
  }
}
