@import './font';
@import './theme';

.primary-title {
  font-family: 'Neoneon';
  color: @primary-title-text-color;
  text-shadow: 0px 0px 6px @primary-title-shadow-color;
}
.secondary-title {
  font-family: 'Neoneon';
  color: @secondary-title-text-color;
  text-shadow: 0px 0px 6px @secondary-title-shadow-color;
}
.ant-btn-primary {
  background-color: @btn-primary-bg;
  border-color: @btn-primary-border;
}

a, a:hover, a:visited {
  color: @primary-color;
}