@import '~ant-design-vue/lib/style/themes/default.less';

// Theme Amanda
// @primary-color-1: #ff00a2;
// @primary-color: #ff6eca;
// @secondary-color-1: #d8ed1f;
// @secondary-color: #d8ed1f;
// @layout-sider-background: #3c005a;
// @layout-banner-background: #262627;
// @heading-color: #3c005a;

// Theme Gabriel
@primary-color-1: #53fbe6;
@primary-color: #00b9b9;
@secondary-color-1: #dc1f32;
@secondary-color: #ff5e6e;
@layout-sider-background: #022a3b;
@layout-banner-background: #262627;
@heading-color: #022a3b;

@primary-title-text-color: @primary-color-1;
@primary-title-shadow-color: @primary-color;
@secondary-title-text-color: @secondary-color-1;
@secondary-title-shadow-color: @secondary-color;

@text-color: #262627; // --black
@grey-1: #6b767a; // --grey-1
@grey-2: #ebf3f3; // --grey-2
@white: #ffffff; // --white

@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 16px; // major text font size
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@font-family: 'Cabin';

// buttons
@btn-primary-bg: @primary-color;
@btn-primary-border: @primary-color-1;

@btn-danger-bg: @secondary-color;
@btn-danger-border: @secondary-color-1;
@btn-border-radius-base: 0;

// Layout
@layout-body-background: #ffffff;
@layout-header-background: #ffffff;
@layout-footer-background: @layout-body-background;
@layout-header-width: 1290px;
@layout-header-height: 66px;
@layout-footer-padding: 24px 50px;

// section spacing
@section-margin: 7.5rem;
@section-outer-margin: @section-margin - 2.5rem;
@section-margin-mobile: 1.875rem;

// menu
@menu-item-color: @grey-1;
@menu-highlight-width: 4px;
@menu-highlight-color: @primary-color-1;

// forms
@input-background: @grey-2;
@input-text: @grey-1;
@input-border-color: transparent;
@input-border-color-active: @primary-color-1;
@input-text-active: @heading-color;

// tag
@tag-default-bg: @grey-2;
@tag-default-color: @grey-1;
@tag-border-radius: 0;
@tag-border: none;
@tag-font-size: 1.1rem;
